name: test
on: [push, pull_request]
permissions:
  contents: read
jobs:
  npm6:
    name: "npm 6"
    runs-on: ubuntu-18.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm install --global npm@6
      - name: Before version
        run: cat package-lock.json | grep "lodash" -B5 -A5
        working-directory: npm6
      - name: npm install
        run: npm install
        working-directory: npm6
      - name: After version
        run: cat package-lock.json | grep "lodash" -B5 -A5
        working-directory: npm6
  npm8:
    name: "npm 8"
    runs-on: ubuntu-18.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm install --global npm@8
      - name: Before version
        run: cat package-lock.json | grep "lodash" -B5 -A5
        working-directory: npm8
      - name: npm install
        run: npm install
        working-directory: npm8
      - name: After version
        run: cat package-lock.json | grep "lodash" -B5 -A5
        working-directory: npm8